[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test repo for testing git and GitHub features
[access "refs/*"]
	owner = group user/Ben Hoyt (benhoyt)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ben Hoyt (benhoyt)
	label-Verified = -1..+1 group user/Ben Hoyt (benhoyt)
	push = group user/Ben Hoyt (benhoyt)
	read = group user/Ben Hoyt (benhoyt)
	rebase = group user/Ben Hoyt (benhoyt)
	removeReviewer = group user/Ben Hoyt (benhoyt)
	submit = group user/Ben Hoyt (benhoyt)
[access "refs/heads/*"]
	create = group user/Ben Hoyt (benhoyt)
	push = +force group user/Ben Hoyt (benhoyt)
	pushMerge = group user/Ben Hoyt (benhoyt)
	read = group user/Ben Hoyt (benhoyt)
[access "refs/tags/*"]
	push = group user/Ben Hoyt (benhoyt)
	push = +force group user/Ben Hoyt (benhoyt)
